---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leevi landing page</title>
	</head>
	<body>
        <div class="container">

            <!-- This is the content of the navigation bar. -->

            <header>
                <div class="logo"></div>
                <div class="header-links">
                    <div class="direct-links">
                        <ul>
                            <li>
                                <a href="#">work</a>
                            </li>
                            <li>
                                <a href="#">services</a>
                            </li>
                            <li>
                                <a href="#">about</a>
                            </li>
                            <li>
                                <a href="#">pricing</a>
                            </li>
                            <li class="header-linkDropDown">
                                <a href="#">pages</a>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                    <div class="header-action-btn">
                        <a href="#">let's talk</a>
                    </div>
                </div>
            </header>
            <main>
                <div class="hero-tags">
                    <h1>Create digital innovation</h1>
                    <p>Revolutionize the Digital Landscape: Ignite Innovation with our Dynamic Platform.</p>
                </div>
                <div class="hero-imageTag">
                    <div class="banner"></div>
                    <div class="marquee">
                        digital agency based in berlin / webflow / webdesign / app design.
                    </div>
                </div>
                <div class="brand-collaboration">

                </div>
                <section class="services">
                    <div class="section-title">our service</div>
                    <div class="services-description">
                        <div class="services-title">
                            <h2>your next innovation.</h2>
                            <p>Innovative app, web, and Webflow design services. Creative solutions tailored to your needs. Elevate your online presence with us. Let's create something extraordinary together.</p>
                        </div>
                        <div class="service-individualCards">
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>app design</h3>
                                <p>Cutting-edge app design solutions that captivate users. From concept to delivery, we craft intuitive interfaces and seamless experiences. Transform your ideas into stunning mobile experiences.</p>
                            </div>
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>web design</h3>
                                <p>Revolutionary web design that engages and converts. We create visually stunning websites with responsive layouts and exceptional user experiences. Elevate your online presence with our captivating web designs.</p>
                            </div>
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>webflow</h3>
                                <p>Unleash the power of Webflow for seamless website development. Our experts leverage Webflow's intuitive platform to craft custom, high-performing websites that captivate and drive results. Experience the future of web design with Webflow.</p>
                            </div>
                            <div class="btn">
                                <a href="">more information</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="services-illustration"></section>
            </main>
        </div>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>