---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leevi landing page</title>
	</head>
	<body>
        <div class="container">

            <!-- This is the content of the navigation bar. -->

            <header>
                <div class="logo"></div>
                <div class="header-links">
                    <div class="direct-links">
                        <ul>
                            <li>
                                <a href="#">work</a>
                            </li>
                            <li>
                                <a href="#">services</a>
                            </li>
                            <li>
                                <a href="#">about</a>
                            </li>
                            <li>
                                <a href="#">pricing</a>
                            </li>
                            <li class="header-linkDropDown">
                                <a href="#">pages</a>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                    <div class="header-action-btn">
                        <a href="#">let's talk</a>
                    </div>
                </div>
            </header>
            <main>
                <div class="hero-tags">
                    <h1>Create digital innovation</h1>
                    <p>Revolutionize the Digital Landscape: Ignite Innovation with our Dynamic Platform.</p>
                </div>
                <div class="hero-imageTag">
                    <div class="banner"></div>
                    <div class="marquee">
                        digital agency based in berlin / webflow / webdesign / app design.
                    </div>
                </div>
                <div class="brand-collaboration">

                </div>





                <section class="services">
                    <div class="section-title">our service</div>
                    <div class="services-description">
                        <div class="services-title">
                            <h2>your next innovation.</h2>
                            <p>Innovative app, web, and Webflow design services. Creative solutions tailored to your needs. Elevate your online presence with us. Let's create something extraordinary together.</p>
                        </div>
                        <div class="service-individualCards">
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>app design</h3>
                                <p>Cutting-edge app design solutions that captivate users. From concept to delivery, we craft intuitive interfaces and seamless experiences. Transform your ideas into stunning mobile experiences.</p>
                            </div>
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>web design</h3>
                                <p>Revolutionary web design that engages and converts. We create visually stunning websites with responsive layouts and exceptional user experiences. Elevate your online presence with our captivating web designs.</p>
                            </div>
                            <div class="service-card">
                                <ion-icon name="apps-outline"></ion-icon>
                                <h3>webflow</h3>
                                <p>Unleash the power of Webflow for seamless website development. Our experts leverage Webflow's intuitive platform to craft custom, high-performing websites that captivate and drive results. Experience the future of web design with Webflow.</p>
                            </div>
                            <div class="btn">
                                <a href="">more information</a>
                            </div>
                        </div>
                    </div>
                </section>





                <section class="featured-work">
                    <div class="section-title">featured work</div>
                    <div class="work-cards">
                        <div class="app">
                            <div class="header">
                                <h2>app</h2>
                                <p>Intuitive interfaces</p>
                            </div>
                            <div class="buttons">
                                <a href="#">webflow</a>
                                <a href="#">webdesign</a>
                            </div>
                        </div>

                        <div class="precise">
                            <div class="header">
                                <h2>precise</h2>
                                <p>Cutting-edge</p>
                            </div>
                            <div class="buttons">
                                <a href="#">webflow</a>
                                <a href="#">webdesign</a>
                            </div>
                        </div>

                        <div class="vision">
                            <div class="header">
                                <h2>vision</h2>
                                <p>Captivate users</p>
                            </div>
                            <div class="buttons">
                                <a href="#">webflow</a>
                                <a href="#">webdesign</a>
                            </div>
                        </div>
                    </div>
                    <div class="explore-more">
                        <a href="#">explore more projects</a>
                    </div>
                </section>





                <section class="why-lee">
                    <div class="section-title">Why leevi?</div>
                    <div class="description">
                        <h2>We create stunning digital experiences that people will love. On all plattforms.</h2>
                        <div class="about-us">
                            <p>Welcome to Leevi, where we specialize in crafting captivating web designs that combine stunning aesthetics with intuitive user experiences.</p>
                            <p>At Leevi, we excel in app design, creating innovative mobile applications that engage users and elevate businesses to new heights.</p>
                            <p>Webflow is our expertise. We empower businesses with dynamic and responsive websites, providing design flexibility and seamless functionality.</p>
                            <p>Partner with Leevi for exceptional digital solutions tailored to your brand. Together, let's create something remarkable and make your online presence shine.</p>
                        </div>
                    </div>
                </section>





                <section class="awards">
                    <div class="section-title">our awards</div>
                    <div class="awards-divisions">
                        <div class="division">
                            <h3>webflow award</h3>
                            <p>aug 2022</p>
                        </div>
                        <div class="division">
                            <h3>webdesign award 2022</h3>
                            <p>aug 2022</p>
                        </div>
                        <div class="division">
                            <h3>website of the year 2020</h3>
                            <p>feb 2020</p>
                        </div>
                        <div class="division">
                            <h3>app design of the year 2019</h3>
                            <p>jan 2019</p>
                        </div>
                        <div class="division">
                            <h3>usability award</h3>
                            <p>sept 2021</p>
                        </div>
                    </div>
                </section>





                <section class="work-process">
                    <div class="section-header">
                        <div class="section-title">together we create</div>
                        <p class="section-sub">how we work</p>
                    </div>
                    <div class="processes">
                        <div class="image-banner">
                            <img src="" alt="">
                        </div>
                        <div class="process-slide">
                            <div class="slide-container">
                                <ion-icon name="cube-outline"></ion-icon>
                                <h3>concept</h3>
                                <p>We transform ideas into visually stunning and user-centric experiences. Let's bring your vision to life! #DesignExcellence</p>
                            </div>
                            <div class="slide-container">
                                <ion-icon name="scan-outline"></ion-icon>
                                <h3>pixel perfect</h3>
                                <p>Every design and layout is meticulously crafted to ensure flawless visuals and seamless user experiences. Trust us to bring your vision to life with precision. #PixelPerfectDesign</p>
                            </div>
                            <div class="slide-container">
                                <ion-icon name="star-outline"></ion-icon>
                                <h3>innovative</h3>
                                <p>Our team embraces cutting-edge technologies and creative thinking to deliver groundbreaking solutions that exceed expectations. Join us on the forefront of digital innovation! #InnovateWithUs</p>
                            </div>
                            <div class="yellow-slide-container">
                                <div class="slide-title">contact</div>
                                <h2>let's create your next big project together.</h2>
                                <a href="#">get in touch</a>
                            </div>
                        </div>
                    </div>
                </section>



                <section class="users-testimonials">
                    <div class="testimonials-banner">
                        <div class="banner-tag">
                            <p>testimonials</p>
                            <h2>what our clients say</h2>
                        </div>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slide-header">
                            <p class="id">99</p>
                            <h3 class="messae">more than happy with leevi.</h3>
                        </div>
                        <p>I am more than happy with Leevi's outstanding work. They exceeded my expectations!</p>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slide-header">
                            <p class="id">99</p>
                            <h3 class="messae">the best customer service.</h3>
                        </div>
                        <p>Leevi provides the best customer service. They are responsive, helpful, and truly care about their clients.</p>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slide-header">
                            <p class="id">99</p>
                            <h3 class="messae">we are 100% happy.</h3>
                        </div>
                        <p>We are 100% happy with the results delivered by Leevi. Exceptional quality and professionalism!</p>
                    </div>
                </section>




                <section class="contact-form">
                    <ion-icon name="call-outline"></ion-icon>
                    <div class="text-content">
                        <div>
                            <p>contact</p>
                            <h2>let's create your next big project together.</h2>
                        </div>
                        <div class="btn">
                            <a href="#">get in touch</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>